*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background-color: #efefef; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(img/library.jpg) no-repeat center center/cover;
}

.container {
    width: 550px;
    height: 450px;
}

.header {
    font-size: 1.2rem;
    border: 2px solid #efefef;
    color: #efefef;
    background-color: rgba(96, 94, 94, 0.8);
    padding: 5px;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
}

.main-content {
    width: 100%;
    min-height: 200px;
    background-color: rgba(233, 227, 227, 0.8);
    border-radius: 15px;
    padding: 50px 40px;
    box-shadow: 0 0 10px;
}

.main-content .text-area {
    font-size: 1.2rem;
    line-height: 1.2;
}

.main-content .person {
    font-size: 1.4rem;
    color: rgb(201, 62, 62);
    text-transform: uppercase;
    margin-top: 20px;
}

.button-area button {
    background-color: #333;
    border: 2px solid #333;
    color: #efefef;
    font-size: 1.3rem;
    padding: 10px 25px;
    margin-top: 10px;
    border-radius: 10px;
}

.button-area button:active {
    background-color: lightblue;
}