* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #efefef;
    color: #333;
}

.div2  {
    max-width: 600px;
    height: 400px;
    margin: 50px auto;
    border: 5px solid #333;
    text-align: center;
}

.div1 {
    width: 300px;
    height: 100px;
    border: 2px solid #333;
    margin: 100px auto;
}

button {
    margin: 30px auto;
    display: block;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
}


