* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #efefef;
    color: #333;
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 700px;
    padding: 50px;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    height: 300px;
}

h1 {
    margin-top: 20px;
    text-align: center;
}

.boxes {
    border: 2px solid #333;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.boxes h2 {
    margin-top: 10px;
}

.boxes button {
    margin-top: 50px;
    width: 90%;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.hidden-content {
    display: none;
}

.hidden-content.reveal-btn {
    display: block;
}
