* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #efefef;
}

.sports {
    max-width: 400px;
    margin: 20px auto;
    border: 5px solid #333;
}

.sports li {
    margin: 10px auto;
    list-style-type: none;
    text-align: center;
    padding: 20px;
    max-width: 80%;
    border: 2px solid #333;
}
